/*********************************************\
		Desktop First Method
\*********************************************/
// STYLES FOR TABLETS //
@media only screen and (max-width : 1200px) {
	.header{
		.xs{
			display: none;
		}
		min-height:100vh;
		height: auto;
		background: url(../img/bg1-sm.png)50% no-repeat;
		padding-bottom: 70px;
		.form-steps{
			.line{
				width: 245px;
			}
		}
		.text-wrap{
			justify-content: flex-end;
			.text_block{
				margin: 60px 0;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		.countdownHolder .position {
		display: inline-block;
		height: 50px;
		overflow: hidden;
		position: relative;
		width: 13px;
		}
	}

}


// STYLES FOR MOBILES //
@media only screen and (max-width : 750px) {
	.header{
		.xs{
			display: block;
		}
		padding-top: 25px;
		min-height:auto;
		height: auto;
		background: url(../img/bg1-xs.png)50% no-repeat;
		padding-bottom: 70px;
		.logo{
			.cube{
				width: 68px;
				height: 65px;
			}
			.logo_name{
				width: 107px;
				height: 32px;
				background-size: 100% 100%;
				left: 0;
				right: 0;
			}
		}
		.form-steps{
			padding-top: 134px;
			padding-bottom: 80px;
			.step-number{
				.your_info{
					font-size: 12px;
					line-height: 15px;
					text-align: center;
					letter-spacing: 0.03em;
					max-width: 145px;
				}
			}
			.line{
				width:80px;
			}
		}
		.chose_pack{
			padding: 0;
		}
		.text-wrap{
			justify-content: flex-end;
			.text_block{
				margin: 60px 0;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		.countdownHolder .position {
		display: inline-block;
		height: 50px;
		overflow: hidden;
		position: relative;
		width: 13px;
		}
		.countdownHolder .countDiv{
			width: 5px;
		}
		.form-block{
			margin-top: 50px;
		}
		.back {
				display: inline-block;
				position: relative;
				font-weight: 500;
				line-height: 48px;
				font-size: 20.52px;
				color:#F2F2F2;
				text-align: center;
				background:#5E6273 url(../img/arr.svg) 50% 50% no-repeat;
				cursor: pointer;
				z-index: 10;
				max-width:100%;
				width: 48px;
				height: 48px;
				border-radius:50%;
				&::before {
					content:'';
					position:absolute;
					color:#F2F2F2;
					left: 0;
					right: 0;
					cursor: pointer;
				}
			}

	}
	.success{
		background: url(../img/bg1-xs.png)50% no-repeat;
		.logo{
			.cube{
				width: 68px;
				height: 65px;
			}
			.logo_name{
				width: 107px;
				height: 32px;
				background-size: 100% 100%;
				left: 0;
				right: 0;
			}
		}
		.ready{
			font-family: 'Anglecia Pro Display';
			line-height: normal;
			font-size: 36px;
			color: #E8D9BE;
			margin-bottom: 20px;
		}
		.you_pay_title{
			font-family: Proxima Nova;
			line-height: normal;
			font-size: 16px;
			color: #FFFFFF;
			margin-bottom: 20px;
		}
		.you_pay_descript{
			font-family: Proxima Nova;
			line-height: normal;
			font-size: 16px;
			color: #FFFFFF;
		}
	}
	/*Disable Animation on Mobile Devices*/
	.animated {
		transition-property: none !important;
		transform: none !important;
		animation: none !important;
	}
}

