/*Параметры контейнера */
.countdownHolder{
	display: inline-block;
	vertical-align:top;
	max-width:450px;
	margin: 0 auto;
	font: 30px/16px Proxima Nova, sans-serif;
	text-align:center;
	letter-spacing:-3px;
	.position{
		display: inline-block;
		height: 1.7em;
		overflow: hidden;
		position: relative;
		width: 0.55em;
	}
	/*Параметры цифр */
	.digit{
		position:absolute;
		display:block;
		width:0.5em;
		border-radius:0.2em;
		text-align:center;
		font-size: 14px;
		line-height: 17px;
		color:#D3507A;
		font-family: 'Proxima Nova';
		font-weight: 600;
		letter-spacing: -1.02em;
		&.static {
			margin-top:18px;
		}
	}
	/*Параметры подложки для секций */
	.coundDays,
	.countHours,
	.countMinutes,
	.countSeconds {
		background:none;
		border-radius:5px;
		padding:0;
		margin:5px;
	}
	.wrapDays,.countDiv0{
		display: none!important;
	}
	/*Параметры секций разделения (:)*/
	.countDiv {
		display: inline-block;
		width:16px;
		height:1.6em;
		position:relative;
		&:before,
		&:after {
			position:absolute;
			width:2px;
			height:2px;
			background-color:#D3507A;
			border-radius:50%;
			left:50%;
			margin-left:-3px;
			top:20px;
			box-shadow:1px 1px 1px rgba(4, 4, 4, 0.5);
			content:'';
		}
		&:after {
			top:0.9em;
		}
	}
	/*Параметры вспомогательного текста (дни, часы, минуты, секунды)*/
	.textdigit{
		font-size:15px;
		font-family: Roboto;
		letter-spacing: 0px;
		display: none;
	}
}
