/*********************************************\
		COLORS
\*********************************************/

$pink: #FF5C8C;




$form-label-color: #000;

/*********************************************\
		FONTS
\*********************************************/
$form-label-font: Roboto;
$form-input-font: Roboto;