footer.footer
	.container
		.wrap_items
			a(href="/").logo
			.polit_block
				a(href="") Политика Конфиденциальности
				a(href="") Согласие с рассылкой
				a(href="") Договор оферты
			.email_block E-mail:
				br
				a(href="mailto:box@mail.com") box@mail.com
			.phone_block Телефоны:
				br
				a(href="tel:+74952150433") +7 495 215-04-33
