header.header
	.container
		a(href="/").logo
			.cube.hvr-grow
			.logo_name
		.step.step2
			a.back(href="../step1", data-target='step1')
			.form-steps
				a.step-number.step1.active.done 1
					pre.your_info Ваши данные
				.line.step.step1.active.done
				a.step-number.step2.active 2
					pre.your_info Регистрация <br class=xs>участницы
				.line.step.step2
				a.step-number.step3 3
					pre.your_info Оплата
			.row.justify-content-between.content-wrapper
				.col-lg-4.col-md-6
					p.chose_pack 
						<span>Выбранный пакет:</span>
						br
						| «Высший пилотаж в отношениях»
						br
						+ «Курс секс искусства»
					p.format <span>Формат участия:</span>
						br
						| Онлайн
					p.price <span>Цена:</span>
						br
						b $ 750
					p.now_price $ 290
					p.sale экономия <br><span>20%</span>
					.special_offer_wrapp
						p.special_offer Специальная цена действует 
						.simpleCountdown#countdown1(data-cookies='yep' data-extra='1,0,0')
						p.special_offer и только для посетителей этой страницы
				.col-lg-4.col-md-6
					.form-block
						form#form2.standart-form(accept-charset='utf-8', onsubmit='return validate(form2);', action='/bundle', method='post')
							.form-header
							.step.step2.active(data-done='step2')
								p.form-title
									|Введите данные своей девушки,
									br
									span чтобы мы внесли ее в список участия.
									br
								p.form-desc
									| Не переживайте, мы не сообщим 
									br
									| ей ничего заранее
								input.name2(name='name', type='text',min="3",max="15",  placeholder='Имя девушки', required='')
								input#phone2.phone.phone2(name='phone', min="3",max="15", type='text',placeholder='Телефон девушки*',required='', autocomplete='off')
								button.btn.next-step.hvr-grow-shadow(data-target='step3' type="submit")
									span далее
								p.descript_st2
									** Вы будете направлены на страницу оплаты
							.hidden-inputs.
								<input class="type" type="hidden" name="type" value="">
								<input class="sum" type="hidden" name="sum" value="">
								<input class="city" type="hidden" name="city" value="">
								<input type="hidden" name="product" value="bundle">
								<input class="tags" type="hidden" name="tags" value="">
								<input type="hidden" name="utm_source" value="">
								<input type="hidden" name="utm_medium" value="">
								<input type="hidden" name="utm_term" value="">
								<input type="hidden" name="utm_campaign" value
			.col-lg-4.text-wrap
				.step.step2(data-done='step2')
					.text_block
						p.title
							|* мы свяжемся с ней, чтобы она выбрала удобную дату для старта курса







