.subm {
	cursor: pointer;
	border: none;
	display: block;
	margin: 0 auto;
	transition: all 0.3s linear;
	&:hover,
	&:focus {
		transform: scale(1.02);
	}
}

.btn {
	@include flex-center;
	font-family: Proxima Nova;
	line-height: normal;
	font-size: 14px;
	text-align: center;
	letter-spacing: 0.25em;
	text-transform: uppercase;
	color: #F2F2F2;
	width: 270px;
	height: 56px;
	background: #EE5784;
	box-shadow: 0px 4px 70px rgba(127, 113, 89, 0.8);
	border-radius: 3px;
	margin: 0 auto;
	
	@include mobile {
		width: 270px;
	}
	
	&.btn_gray {
		background: #5E6273;
		box-shadow: 0px 4px 70px #282B38;
	}
}

/* Aylen */
.button--aylen {
	background: #fff;
	//color: #37474f;
	overflow: hidden;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	z-index: 1;
}
.button--aylen.button--inverted {
	background: none;
	color: #fff;
}
.button--aylen::before,
.button--aylen::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 100%;
	left: 0;
	z-index: -1;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--aylen::before {
	background: #f495b1;
}
.button--aylen::after {
	background: #FF5C8C;
}
.button--aylen:hover {
	color: #fff;
}
.button--aylen:hover::before,
.button--aylen:hover::after {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.button--aylen:hover::after {
	-webkit-transition-delay: 0.175s;
	transition-delay: 0.175s;
}