footer {
	padding: 56px 0 0px;
	background-color: #282B38;
	position: relative;
	
	@include tablet {
		padding:  61px 0 0px;
	}
	
	.container {
		position: relative;
	}
	
	.logo {
		width: 164.39px;
		height: 52px;
		background-image: url(../../img/svg/foologo.svg);
		background-repeat: no-repeat;
		margin-bottom: 58px;
	}
	
	.txt-col {
		display: flex;
		flex-direction: column;
		
		&:nth-child(1) {
			a {
				text-decoration: underline;
			}
		}
	}
	
	.txt,
	.link {
		font-family: Proxima Nova;
		line-height: 21px;
		font-size: 14px;
		letter-spacing: 0.05em;
		color: #FFFFFF;
		font-weight: 300;
	}
	
	.link {
		&.link__underline {
			text-decoration: underline;
		}
	}
	
	.scroll-wrap {
		
	}
	
	.col-md-12 {
		margin-bottom: 59px;
	}
	
	.col-sm-12 {
		@include mobile {
			text-align: center;
		}
	}
	
	.col-md-5,
	.col-md-3 {
		@include mobile {
			margin-bottom: 34px;
		}
	}

}

.footer-top-block {
	flex-direction: column;
	@include flex-center;
	padding-bottom: 80px;
	color: #fff;
	
	font-weight: 300;
	
	
	.email,
	.phone {
		text-align: center;
		
		p {
			opacity: .8;
		}
		
		a {
			color: #fff;
			@include ease(.4s);
			opacity: .8;
			&:hover {
				opacity: 1;
			}
		}
	}
	
	.email {
		margin-bottom: 55px;
		
		p {
			margin-bottom: 5px;
		}
	}
	
	.phone-columns {
		display: flex;
		justify-content: space-between;
		
		.col1 {
			margin-right: 25px;
		}
	}
	
	.foo-col {
		display: flex;
		flex-direction: column;
		margin-top: 6px;
		
		a {
			margin-bottom: 5px;
			
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.footer-bot-block {
	@include flex-center;
	padding: 27px 0;
	background: #3B3E4D;
	
	.link-wrap {
		width: 465px;
		display: flex;
		justify-content: space-between;
		
		@include mobile {
			flex-direction: column;
			align-items: center;
		}
		
		
		a {
			color: #fff;
			@include ease(.4s);
			opacity: .8;
			
			@include mobile {
				margin-bottom: 5px;
			
			&:last-child {
				margin-bottom: 0;
			}
			}
			&:hover {
				opacity: 1;
			}
	}
}
}
