header {
	background-image: url(../../img/baby.png);
	@include bg-defaults(1920px);
	padding-top: 43px;
	padding-bottom: 233px;
	position: relative;
	z-index: 1;
	
	@include tablet {
		padding-top: 46px;
		padding-bottom: 227px;
		background-image: url(../../img/tablet/baby.png);
		background-size: 1280px;
	}
	
	@include mobile {
		padding-top: 30px;
		background-image: url(../../img/mobile/baby.png);
		background-size: 720px;
	}
	
	
	
	.logo {
		width: 135px;
		height: 40px;
		position: relative;
		z-index: 1;
		
		@include mobile {
			width: 99.64px;
			height: 29.16px;
		}
		
		&::before {
			display: block;
			
		}
	}
	
	h1 {
		display: flex;
		position: relative;
		flex-wrap: wrap;
		z-index: 2;
		
		.part1 {
			font-family: Anglecia Pro Display;
			line-height: 21px;
			font-size: 22.6803px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			font-weight: 200;
			text-shadow: 66.7113px 33.3556px 233.489px rgba(34, 7, 61, 0.6);
			color: #B0C3D5;
			width: 100%;
			padding-left: 97.4px;
			
			@include tablet {
				line-height: 18px;
				font-size: 19px;
				padding-left: 81px;
			}
			
			@include mobile {
				line-height: 11px;
				font-size: 12px;
				padding-left: 45px;
			}
		}
		
		.part2 {
			font-family: Anglecia Pro Display;
			line-height: 85px;
			font-size: 90.7214px;
			text-shadow: 45.5215px 22.7607px 159.325px rgba(34, 7, 61, 0.6);
			font-weight: 100;
			background: linear-gradient(to bottom, #B99A6E 0%, #FEF6E3 80%, #F2D3A5 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			width: 100%;
			
			@include tablet {
				line-height: 70px;
				font-size: 75px;
			}
			
			@include mobile {
				line-height: 39px;
				font-size: 42px;
			}
		}
		
		.part3 {
			background: linear-gradient(to bottom, #B99A6E 0%, #FEF6E3 80%, #F2D3A5 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			font-family: Anglecia Pro Display;
			line-height: 53px;
			font-size: 56.7009px;
			letter-spacing: 0.08em;
			text-shadow: 66.7113px 33.3556px 233.489px rgba(34, 7, 61, 0.6);
			padding-left: 119px;
			
			@include tablet {
				line-height: 44px;
				font-size: 47px;
			}
			
			@include mobile {
				line-height: 24px;
				font-size: 26px;
				padding-left: 53px;
			}
		}
		
		.part4 {
			background: linear-gradient(to bottom, #B99A6E 0%, #FEF6E3 80%, #F2D3A5 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			font-family: Anglecia Pro Display;
			text-shadow: 66.7113px 33.3556px 233.489px rgba(34, 7, 61, 0.6);
			position: absolute;
			line-height: 122px;
			font-size: 130px;
			right: 502px;
			bottom: -35px;
			
			@include tablet {
				line-height: 133px;
				font-size: 142px;
				right: 122px;
				bottom: -49px;
			}
			
			@include mobile {
				line-height: 75px;
				font-size: 80px;
				right: 27px;
				bottom: -32px;
			}
		}
	}
}

.logo {
	background-image: url(../../img/svg/logo.svg);
	background-size: 100%;
	display: block;
}

.header__city-block {
	font-family: Proxima Nova;
	line-height: 27px;
	font-size: 13px;
	text-align: right;
	letter-spacing: 0.2em;
	font-style: normal;
	text-transform: uppercase;
	@include mobile {
		line-height: 20px;
		font-size: 11px;
	}
	
	.city-txt1 {
		color: rgba(255, 255, 255, 0.52);
		
		@include mobile {
			width: 140px;
			margin: 0 0 0 auto;
		}
	}
	
	.city-txt2 {
		color: #DCC8A8;
	}
}

.header-col1 {
	position: relative;
	
	.decor-block {
		max-width: 98.18px;
		width: 98.18px;
		max-height: 94.37px;
		height: 94.37px;
		background-color: #1B2437;;
		background-size: 100%;
		position: absolute;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		transform: rotate(25.9deg);
		z-index: 0;
		top: -13px;
		left: 0px;
		
		@include mobile {
			top: -13px;
			left: 3px;
		}
	}
}

.header__main-col {
	margin-top: 172px;
	
	@include tablet {
		margin-top: 108px;
	}
	
	@include mobile {
		margin-top: 81px;
	}
}

.header__main-txt-block {
	padding-left: 214px;
	margin-bottom: 22px;
	
	@include tablet {
		padding-left: 90px;
		margin-bottom: 181px;
	}
	
	@include mobile {
		padding-left: 10px;
		margin-bottom: 167px;
	}
	
	.decor-block {
		max-width: 347.29px;
		width: 347.29px;
		max-height: 318.74px;
		height: 308.74px;
		background-color: #1B2437;;
		background-size: 100%;
		position: absolute;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		transform: rotate(10.36deg);
		z-index: 0;
		top: -27px;
		left: 288px;
		z-index: 0;
		
		@include tablet {
			width: 299.86px;
			height: 266.18px;
			top: -27px;
			left: 168px;
		}
		
		@include mobile {
			width: 193.28px;
			height: 174.5px;
			top: -10px;
			left: 52px;
		}
	}
}

.header__main-txt {
	font-family: Anglecia Pro Display;
	line-height: 20px;
	font-size: 14px;
	text-align: center;
	font-weight: 500;
	font-style: italic;
	letter-spacing: 0.1em;
	color: #B5BFCB;
	width: 545px;
	padding-left: 82px;
	margin-bottom: 25.4px;
	z-index: 2;
	position: relative;
	
	@include tablet {
		padding-left: 18px;
		line-height: 17px;
	}
	
	@include mobile {
		text-align: left;
		padding-left: 70px;
		line-height: 9px;
		font-size: 12px;
		margin-bottom: 35px;
	}
	
	span {
		color: #FF5C8C;
	}
}

.header__secondary-txt-block {
	padding-left: 96px;
	position: relative;
	
	@include mobile {
		padding-left: 0;
	}
	
	.decor-block {
		background: #1B2437;
		width: 214px;
		height: 214px;
		position: absolute;
		transform: rotate(-6.69deg);
		left: 63px;
		top: -46px;
		
		@include mobile {
			width: 214px;
			height: 239px;
			left: -46px;
			top: -31px;
		}
	}
}

.header__secondary-txt1 {
	font-family: Anglecia Pro Display;
	line-height: 29px;
	font-size: 18px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.8);
	font-weight: 100;
	margin-bottom: 20px;
	position: relative;
	z-index:2;
	
	@include mobile {
		font-size: 16px;
		margin-bottom: 15px;
	}
	
	span {
		font-weight: 700;
	}
}

.header__secondary-txt2 {
	width: 504px;
	font-family: Proxima Nova;
	line-height: 20px;
	font-size: 13px;
	letter-spacing: 0.05em;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.78);
	position: relative;
	z-index:2;
}

.header-col4 {
	margin-bottom: 100px;
	
	/* @include tablet {
		margin-bottom: 60px;
	} */
}

.scroll-wrap {
	width: 100%;
	@include flex-center;
	
}

.scroll-center {
	@include flex-center;
	flex-direction: column;
	position: relative;
	
	.scroll-btn {
		width: 14.14px;
		height: 49.14px;
		background-image: url(../../img/svg/arrows.svg);
		background-size: 100%;
		z-index: 3;
		position: relative;
	}
	
	.decor-block {
		background: #1B2437;
		z-index: 0;
		transform: rotate(-23.46deg);
		width: 55.79px;
		height: 55.79px;
		left: 31px;
		position: absolute;
		top: 52px;
	}
}

.header__scroll-txt {
	font-family: Anglecia Pro Display;
	line-height: 24px;
	font-size: 14px;
	text-align: center;
	letter-spacing: 0.1em;
	color: rgba(255, 255, 255, 0.8);
	font-style: italic;
	margin-bottom: 52px;
}