.sec1 {
	padding-top: 570px;
	background-image: url(../../img/BG.png);
	@include bg-defaults(1920px);
	position: relative;
	z-index: 0;
	margin-top: -548px;
	background-position-y: 550px;
	padding-bottom: 1010px;
	background-color: #282A37;
	
	@include tablet {
		background-image: url(../../img/tablet/BG.png);
		background-size: 1280px;
		background-position-y: -571px;
	}
	
	@include mobile {
		background-image: url(../../img/mobile/BG.png);
		background-size: 720px;
		background-position-y: -359px;
		padding-bottom: 4110px;
	}
	
	h2 {
		font-family: Anglecia Pro Display;
		line-height: 38px;
		font-size: 40px;
		text-align: center;
		letter-spacing: 0.02em;
		color: #FFFFFF;
		font-weight: 500;
		margin-bottom: 126px;
		
		@include tablet {
			line-height: 28px;
			font-size: 30px;
		}
		
		@include mobile {
			line-height: 21px;
			font-size: 22px;
			margin-bottom: 105px;
		}
		
		span {
			color: $pink;
			
		}
	}
}

.trigger {
	position: relative;
	
	.decor-circles {
		z-index: 0;
		background-size: 100%;
	}
	
	.decor-block {
		z-index: 1;
		width: 154.44px;
		height: 149.62px;
		background: #292E3D;
		box-shadow: 0px 4px 120px #1B2437;
		position: absolute;
		top: -44px;
		left: -38px;
	}
	
	&:nth-child(1) {
		@include tablet {
			margin-bottom: 120px;
		}
		
		@include mobile {
			margin-bottom: 99px;
		}
		
		.trigger__bot-txt {
			max-width: 240px;
		}
		
		.decor-circles {
			height: 195.91px;
			background-image: url(../../img/sec1dec.png);
			transform: rotate(4.42deg);
			position: absolute;
			top: -99px;
			left: -28px;
			width: 224.11px;
		}
	}
	
	&:nth-child(2) {
		@include tablet {
			margin-bottom: 120px;
		}
		
		@include mobile {
			left:75px;
			margin-bottom: 99px;
		}
		
		.trigger__bot-txt {
			max-width: 198px;
		}
		
		.decor-circles {
			height: 150.24px;
			background-image: url(../../img/sec1dec2.png);
			transform: rotate(4.42deg);
			position: absolute;
			top: -106px;
			left: -49px;
			width: 150.49px;
			
			@include mobile {
				left: -108px;
				top: -82px;
				transform: rotate(-35.58deg);
			}
		}
	}
	
	&:nth-child(3) {
		@include tablet {
			left: 100px;
		}
		
		@include mobile {
			left: 0;
			margin-bottom: 99px;
		}
		
		.trigger__bot-txt {
			max-width: 220px;
		}
		
		.decor-circles {
			height: 152.66px;
			background-image: url(../../img/sec1dec3.png);
			position: absolute;
			transform: rotate(7.66deg);
			width: 139.49px;
			top: -86px;
			left: -70px;
			
			@include mobile {
				transform: rotate(134.66deg);
				top: -51px;
				left: 61px;
			}
		}
	}
	
	&:nth-child(4) {
		@include tablet {
			left: 100px;
		}
		
		@include mobile {
			left:75px;
		}
		
		.trigger__bot-txt {
			max-width: 240px;
			
			@include mobile {
				max-width: 228px;
			}
		}
		
		.decor-circles {
			height: 152.66px;
			background-image: url(../../img/sec1dec4.png);
			position: absolute;
			transform: rotate(2.29deg);
			width: 189.49px;
			top: -96px;
			left: -3px;
			
			@include mobile {
				top: -8px;
				left: -105px;
				transform: rotate(-117.71deg);
			}
		}
	}
}

.trigger__top-txt {
	font-family: Proxima Nova;
	line-height: 20px;
	font-size: 14px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
	opacity: 0.8;
	font-weight: 300;
	margin-bottom: 20px;
	position: relative;
	z-index: 2;
	
	span {
		font-weight: 600;
	}
}

.trigger__bot-txt {
	font-family: Proxima Nova;
	line-height: 23px;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.05em;
	color: rgba(255, 255, 255, 0.6);
	position: relative;
	z-index: 2;
	
	span {
		font-weight: 600;
	}
}

.sec1__mid-txt1 {
	margin-top: 67px;
	font-family: Anglecia Pro Display;
	line-height: normal;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #fff;
	font-weight: 500;
	margin-bottom: 149px;
	
	@include tablet {
		margin-top: 76.7px;
		font-size: 18px;
		margin-bottom: 106px;
	}
	
	@include mobile {
		font-size: 18px;
		max-width: 270px;
		margin: 56px auto 101px;
	}
	
	span {
		color: $pink;
	}
}

.sec1__mid-txt2 {
	font-family: Anglecia Pro Display;
	line-height: normal;
	font-size: 40px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #fff;
	font-weight: 500;
	margin-bottom: 13px;
	
	@include tablet {
		line-height: normal;
		font-size: 30px;
		margin-bottom: 13px;
	}
	
	@include mobile {
		font-size: 22px;
		margin-bottom: 23px;
	}
	
	span {
		color: $pink;
	}
}

.sec1__mid-txt3 {
	font-family: Proxima Nova;
	line-height: normal;
	font-size: 16px;
	text-align: center;
	letter-spacing: 0.06em;
	font-weight: 200;
	font-style: italic;
	color: #FFFFFF;
	margin-bottom: 70px;
	
	@include tablet {
		margin-bottom: 56px;
	}
	
	span {
		font-weight: 400;
	}
	
	@include mobile {
		margin-bottom: 42px;
	}
}

.video-wrap {
	position: relative;
	
	
	
	.video-decor {
		background-image: url(../../img/video-decor.png);
		background-size: 100%;
		width: 575.13px;
		transform: rotate(1.16deg);
		height: 457.26px;
		position: absolute;
		top: 97px;
		right: 0px;
		
		@include tablet {
			width: 309.17px;
			height: 249.52px;
			top: 146px;
			right: -80px;
		}
		
		@include mobile {
			width: 259.17px;
			height: 203.52px;
			top: 46px;
			right: -130px;
		}
	}
}

.video-block {
	margin: 0 auto 159px;
	width: 730px;
	height: 461px;
	//background-image: url(../../img/video.png);
	position: relative;
	z-index: 2;
	
	@include tablet {
		width: 490px;
		height: 328px;
		margin: 0 auto 135px;
		background-size: 100%;
	}
	
	@include mobile {
			width: 285px;
			height: 190px;
		margin: 0 auto 73px;
		}
}

.sec1__mid-txt4 {
	font-family: Anglecia Pro Display;
	line-height: 38px;
	font-size: 40px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	font-weight: 500;
	margin-bottom: 25px;
	
	@include tablet {
		line-height: 28px;
		font-size: 30px;
		margin-bottom: 28.7px;
	}
	
	@include mobile {
		line-height: 21px;
		font-size: 21px;
		margin-bottom: 34px;
	}
	
	span {
		color: $pink;
	}
}

.sec1__mid-txt5 {
	line-height: normal;
	font-size: 16px;
	text-align: center;
	letter-spacing: 0.05em;
	margin-bottom: 67px;
	font-style: italic;
	font-weight: 200;
	font-family: Proxima Nova;
	color: #FFFFFF;
	
	@include tablet {
		margin-bottom: 61px;
	}
	
	@include mobile {
		margin-bottom: 55px;
	}
}

.sec1__mid-txt6 {
	color: #FDF2DB;
	font-weight: bold;
	font-family: Proxima Nova;
	line-height: normal;
	font-size: 18px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-bottom: 15px;
	
	@include tablet {
		font-size: 18px;
		margin-bottom: 15px;
	}
	
	@include mobile {
		font-size: 16px;
		margin-bottom: 24px;
	}
}

.sec1__mid-txt7 {
	font-family: Proxima Nova;
	line-height: 20px;
	font-size: 14px;
	text-align: center;
	letter-spacing: 0.05em;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 109px;
	
	@include tablet {
		margin-bottom: 96px;
	}
	
	@include mobile {
		margin-bottom: 84px;
	}
}

.course {
	padding-left: 156px;
	position: relative;
	margin-bottom: 277px;
	
	@include tablet {
		padding-left: 0;
		margin-bottom: 200px;
	}
	
	@include mobile {
		padding-left: 15px;
	}
	
	.decor-block {
		background: #292E3D;
		box-shadow: 0px 4px 120px #1B2437;
		width: 250px;
		height: 250px;
		position: absolute;
		top: -37px;
		z-index: 1;
		left: 95px;
		
		@include tablet {
			left: -45px;
			width: 200px;
			height: 200px;
			top: -30px;
		}
		
		@include mobile {
			width: 184px;
			height: 165px;
			top: -26px;
		}
	}
}

.course2 {
	@include tablet {
		margin-top: 116px;
	}
	
	@include mobile {
		margin-top: 0px;
		margin-bottom: 120px;
	}
}

.course1 {
	@include mobile {
		margin-bottom: 59px;
	}
}

.course-txt1 {
	line-height: normal;
	font-size: 14px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.9);
	font-weight: bold;
	margin-bottom: 26px;
	position: relative;
	z-index: 2;
	
	@include mobile {
		width: 90%;
	}
}

.course-txt2 {
	color: rgba(255, 255, 255, 0.8);
	font-family: Proxima Nova;
	line-height: 20px;
	font-size: 14px;
	letter-spacing: 0.05em;
	position: relative;
	z-index: 2;
	
	@include tablet {
		max-width: 315px;
		line-height: 25px;
	}
	
	@include mobile {
		line-height: 20px;
	}
	
	span {
		color: $pink;
	}
}

.sec1__btm-txt1 {
	font-family: Anglecia Pro Display;
	line-height: 38px;
	font-size: 40px;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 69px;
	color: #FFFFFF;
	font-weight: 500;
	
	@include tablet {
		line-height: 28px;
		font-size: 30px;
	}
	
	@include mobile {
		line-height: 21px;
		font-size: 22px;
		margin-bottom: 48px;
	}
	
	span {
		color: $pink;
	}
}

.sec1__btm-txt2 {
	font-family: Anglecia Pro Display;
	line-height: 19px;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0.03em;
	font-weight: 500;
	margin-top: 56px;
	
	color: #FFFFFF;
	
	@include tablet {
		max-width: 600px;
		margin: 82px auto 0;
	}
	span {
		color: $pink;
	}
	
	
}

.result {
	position: relative;
	margin-right: 52px;
	
	@include tablet {
		margin-right: 0;
	}
	
	.decor {
			position: absolute;
			background: #DC4271;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 50px;
		}
		
	.decor1 {
		width: 83.36px;
		height: 83.17px;
		z-index: 1;
		left: -29px;
		top: 38px;
	}
	
	&:nth-child(1) {
		max-width: 344px;
		
		.result__txt2 {
			max-width: 282px;
		}
		
		.decor2 {
			width: 40.22px;
			height: 40.13px;
			z-index: 2;
			box-shadow: 0px 4px 150px #02081F;
			left: -29px;
			top: 84px;
		}
	}
	
	&:nth-child(2) {
		max-width: 324px;
		
		@include mobile {
			margin: 50px auto 0;
		}
		
		.decor2 {
			width: 40.22px;
			height: 40.13px;
			z-index: 1;
			box-shadow: 0px 4px 150px #02081F;
			left: -42px;
			top: 36px;
		}
		
		.decor1 {
			z-index: 2;
			box-shadow: 0px 4px 150px #02081F;
		}
		
		.decor3 {
			width: 13.16px;
			height: 13.13px;
			box-shadow: 0px 4px 150px #02081F;
			top: 7px;
			left: -8px;
		}
	}
	
	&:nth-child(3) {
		max-width: 344px;
		margin-right: 0;
		
		@include tablet {
			margin: 65px auto 0;
		}
		
		@include mobile {
			margin: 50px auto 0;
		}
		
		.decor2 {
			width: 13.16px;
			height: 13.13px;
			box-shadow: 0px 4px 150px #02081F;
			left: -29px;
		}
	}
}

.result__txt1 {
	font-family: Proxima Nova;
	line-height: normal;
	font-size: 14px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-bottom: 30px;
	font-weight: 300;
	color: #FFFFFF;
	z-index: 3;
	position: relative;
	span {
		color: $pink;
		font-weight: 600;
	}
}

.result__txt2 {
	font-family: Proxima Nova;
	line-height: 23px;
	font-size: 14px;
	letter-spacing: 0.05em;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.6);
	z-index: 3;
	position: relative;
	
	span {
		font-weight: 600;
	}
}