.sec2 {
	background-image: url(../../img/prices-bg.png);
	@include bg-defaults(1920px);
	position: relative;
	z-index: 1;
	margin-top: -756px;
	background-position-y: -437px;
	padding-bottom: 420px;
	
	@include tablet {
		background-image: url(../../img/tablet/prbg.png);
		background-size: 1280px;
		margin-top: -796px;
		background-position-y: 501px;
	}
	
	@include mobile {
		background-image: url(../../img/mobile/pricesbg.png);
		background-size: 720px;
		margin-top: -3930px;
    	background-position-y: 1421px;
	}
	
	h2 {
		background: linear-gradient(to bottom, #B99A6E 0%, #FEF6E3 80%, #F2D3A5 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-family: Anglecia Pro Display;
		text-shadow: 66.7113px 33.3556px 233.489px rgba(34, 7, 61, 0.6);
		line-height: 47px;
		font-size: 40px;
		text-align: center;
		letter-spacing: 0.02em;
		width: 700px;
		margin: 0 auto;
		
		@include tablet {
			line-height: 28px;
			font-size: 30px;
		}
		
		@include mobile {
			line-height: 21px;
			font-size: 22px;
			margin-bottom: 41px;
			width: 100%;
		}
	}
}

.package__pick-wrap {
	display: flex;
	width: 978px;
	margin: 46px auto 56px;
	
	
	@include tablet {
		width: 100%;
		margin:  58px auto 72px;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	@include mobile {
		flex-direction: column;
	}
	
	.left-side, .right-side {
		@include flex-center;
	}
	
	.left-side {
		@include tablet {
			margin-bottom: 20px;
		}
		
		@include mobile {
			flex-direction: column;
			
			.format {
				    margin: 21px auto;
			}
			}
		
		
	}
	
	.right-side {
		margin-left: 60px;
		
		@include tablet {
			margin-left: 0;
		}
		
		@include mobile {
			flex-wrap: wrap;
			justify-content: space-between;
			width: 210px;
			margin: 0 auto;
		}
	}
	
	.pick-wrap-txt {
		font-family: Proxima Nova;
		line-height: normal;
		font-size: 18px;
		color: #fff;
		text-align: right;
		margin-right: 11px;
		font-weight: 100;
		
		@include mobile {
			margin: 0;
			width: 100%;
			text-align: center;
			margin-bottom: 19px;
	}
	}
	
	.format {
		font-family: Proxima Nova;
		line-height: normal;
		font-size: 18px;
		text-align: center;
		@include flex-center;
		color: #FFFFFF;
		background: #282B38;
		border-radius: 3px;
		width: 104px;
		position: relative;
		height: 48px;
		cursor: pointer;
		
		@include mobile {
			width: 86.77px;
			height: 40.05px;
			font-size: 15px;
			margin-right: 0;
		}
		
		&.active {
			background: #FF5C8C;
			box-shadow: 0px 4px 70px #282B38;
		}
		
		&.city {
			margin-right: 16px;
			
			@include mobile {
				margin-right: 0;
			}
			
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.city1,
.city2 {
	@include mobile {
		margin-bottom: 15px;
	}
}

.package__wrap {
	display: flex;
	width: 978px;
	justify-content: space-between;
	margin: 0 auto 117px;
	max-height: 843px;
	
	@include tablet {
		flex-direction: column;
		width: auto;
		max-height: initial;
		margin-bottom: 113px;
	}
	
	@include mobile {
		margin-bottom: 107px;
	}
}

.package {
	display: flex;
	flex-direction: column;
	width: 472px;
	min-height: 843px;
	padding-top: 56px;
	//padding-bottom: 63px;
	box-shadow: 0px 4px 150px rgba(30, 31, 36, 0.5);
	border-radius: 3px;
	
	
	.package__closest-date,
	.package__closest-date2 {
			background: rgba(242, 242, 242, 0.2);
		}
	
	&.active {
		background: linear-gradient(180.48deg, #B99A6E -4.66%, #D9C4A4 54.71%, #F2D3A5 101.73%), #282B38;
		@include ease(.4s);
		
		.package__title1,
		.package__title2,
		.package__list,
		.package__closest-date 
		{
			color: #282B38;
			@include ease(.5s);
		}
		
		.special-price {
			display: block;
			@include ease(.5s);
		}
		
		.price-wrap2 {
			display: none;
			@include ease(.5s);
		}
		
		.price-wrap {
		margin-top: 11px;
		position: relative;
		margin-bottom: 16px;
			@include ease(.5s);
		
		.new-price {
			font-size: 34px;
			font-family: Proxima Nova;
			line-height: normal;
			color: #E85581;
			font-weight: 700;
			text-align: center;
			@include ease(.5s);
		}
		
		.old-price {
			font-family: Proxima Nova;
			line-height: normal;
			font-size: 18px;
			text-align: right;
			color: rgba(255, 255, 255, 0.5);
			position: absolute;
			left: 130px;
			bottom: 4px;
			@include ease(.5s);
			
			span {
				text-decoration: line-through;
			}
			
			@include mobile {
				left: 38px;
				@include ease(.5s);
			}
		}
		}
		
		.package__closest-date2 {
			display: none;
			@include ease(.5s);
		}
		
		.date-txt2 {
		font-size: 20px;
		font-weight: 600;
		font-style: italic;
		font-family: Anglecia Pro Display;
			@include ease(.5s);
	}
	
	.date-txt3 {
		font-family: Proxima Nova;
		max-width: 240px;
		
		@include mobile {
			font-size: 12px;
			@include ease(.5s);
		}
	}
		
		.btn_gray {
			display: none;
			@include ease(.5s);
		}
	
	.price-title {
		font-family: Proxima Nova;
		line-height: normal;
		font-size: 18px;
		text-align: center;
		color: #282B38;
		margin-top: 24px;
		font-weight: 700;
		@include ease(.5s);
	}
		
		.decor {
		background: #DC4271;
		border-radius: 100px;
		position: absolute;
			@include ease(.5s);
	}
	
	.decor1 {
		@include flex-center;
		height: 97px;
		width: 97px;
		color: #fff;
		flex-direction: column;
		font-family: Proxima Nova;
		line-height: normal;
		right: -2px;
		bottom: -73px;
		z-index: 2;
		box-shadow: 0px 4.97069px 100px rgba(58, 61, 73, 0.5);
		@include ease(.5s);
			
		.decor-txt1 {
			font-size: 18px;
			@include ease(.5s);
		}
		.decor-txt2 {
			font-size: 26px;
			font-weight: 600;
			@include ease(.5s);
		}
	}
	
	.decor2 {
		width: 52px;
		height: 52px;
		box-shadow: 0px 4.97069px 100px rgba(58, 61, 73, 0.5);
		right: -18px;
		bottom: -68px;
		@include ease(.5s);
	}
		
		.special-price {
		font-family: Proxima Nova;
		line-height: normal;
		font-size: 14px;
		text-align: center;
		letter-spacing: 0.02em;
		margin: 0 auto;
		max-width: 360px;
		color: #282B38;
		font-weight: 700;
		margin-top: 38px;
			@include ease(.5s);
		
		@include mobile {
			font-size: 12px;
		}
	}
	}
	
	&.inactive {
		background: #282B38;
		@include ease(.5s);
		
		.package__title1,
		.package__title2,
		.package__list,
		.package__closest-date,
		.price-wrap2
		{
			color: #fff;
			opacity: .2;
			@include ease(.5s);
		}
		
		.special-price {
			display: none;
		}
		
		.btn_pink {
			display: none;
		}
		
		.price-wrap2 {
			@include flex-center;
			margin-top: 52px;
			margin-bottom: 34px;
			@include ease(.5s);
			
			.price-title2 {
				font-family: Proxima Nova;
				line-height: normal;
				font-size: 18px;
				margin-right: 33px;
				@include ease(.5s);
			}
			
			.new-price {
				font-family: Proxima Nova;
				line-height: normal;
				font-weight: bold;
				font-size: 24px;
				@include ease(.5s);
			}
	}
		.price-wrap {
			display: none;
		}
		
		.package__closest-date {
			display: none;
		}
		
		.package__closest-date2 {
			min-height: 123px;
			height: 123px;
			@include flex-center;
			flex-direction: column;
			position: relative;
			@include ease(.5s);
		
		.date-txt1  {
			font-family: Anglecia Pro Display;
			line-height: normal;
			font-size: 16px;
			text-align: center;
			font-style: italic;
			font-weight: 300;
			@include ease(.5s);
		}
			
			.date-txt4 {
				
			}
	}
		
		/* .package__title1,
		.package__title2,
		.package__list,
		.price-wrap {
			color: #fff;
			opacity: .2;
		} */
		
		.decor {
			display: none;
		}
		
		.date-txt1 {
			color: #fff;
		}
	
		.date-txt4 {
			font-size: 18px;
			font-weight: 600;
			font-style: italic;
			font-family: Anglecia Pro Display;
			color: $pink;
		}
		
		.price-title {
			display: none;
		}
	}
	
	@include tablet {
		margin: 0 auto 41px;
	}
	
	@include mobile {
		width: 100%;
		min-height: 833px;
		padding: 46px 0;
	}
	
	.package__title1 {
		font-family: Proxima Nova;
		line-height: normal;
		font-size: 13px;
		text-align: center;
		letter-spacing: 0.3em;
		text-transform: uppercase;
		margin-bottom: 22px;
		
		@include mobile {
			font-size: 12px;
		}
	}
	.package__title2 {
		font-family: Anglecia Pro Display;
		line-height: normal;
		font-size: 22px;
		text-align: center;
		letter-spacing: 0.02em;
		margin-bottom: 26px;
	}
	
	.package__list {
		font-family: Proxima Nova;
		line-height: normal;
		font-size: 14px;
		letter-spacing: 0.02em;
		width: 360px;
		margin: 0 auto 29px;
		
		@include mobile {
			padding-left: 15px;
			padding-right: 15px;
			width: 100%;
		}
		
		li {
			margin-bottom: 20px;
			max-width: 280px;
			
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	
	.package__closest-date {
		min-height: 123px;
		height: 123px;
		@include flex-center;
		flex-direction: column;
		position: relative;
		
		.date-txt1  {
			font-family: Anglecia Pro Display;
			line-height: normal;
			font-size: 16px;
			text-align: center;
			font-style: italic;
			font-weight: 300;
		}
	}
	
	
}

.left-package {
	
	
	.package__closest-date {
		background: rgba(242, 242, 242, 0.2);
	}
	
	
	
	
	
	
	
	
}

.right-package {
	background: #282B38;
	
	
	
	@include tablet {
		margin-bottom: 0;
	}
	
	@include mobile {
		min-height: 746px;
	}
	
	
	
	.package__closest-date {
		background: rgba(242, 242, 242, 0.1);
	}
	
	
	
	
}

.sec2__mid-txt {
	font-family: Anglecia Pro Display;
	line-height: 28px;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0.03em;
	font-weight: 500;
background: linear-gradient(to bottom, #B99A6E 0%, #FEF6E3 80%, #F2D3A5 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 24px;
	
	@include tablet {
		line-height: 28px;
		font-size: 20px;
		margin-bottom: 32px;
	}
}

.combo-package {
	width: 784px;
	margin: 0 auto;
	flex-wrap: wrap;
	display: flex;
	position: relative;
	
	@include tablet {
		width: 100%;
	}
	
	@include mobile {
		flex-direction: column;
	}
	
	.mobile-block {
		display: none;
	}
	
	.mid-part2__wrapper,
	.btn_pink,
	.price-title2,
	.price-wrap2 {
		display: none;
	}
	
	.decor {
		display: none;
	}
	
	.decor-plus {
		width: 96px;
		height: 93px;
		background-image: url(../../img/+.svg);
		position: absolute;
		left: 43.8%;
		top: -20px;
		
		@include tablet {
			left: 43.1%;
			top: 62px;
		}
		
		@include mobile {
			width: 74px;
			left: 36.3%;
			top: 496px;
			height: 73px;
			background-size: 100%;
		}
	}
	
	&.active {
		.package__title,
		ul li{
			opacity: 1;
			color: #272A36;
		}
		
		.combo-package__left-part {
			background: linear-gradient(180deg, #C8AD87 0%, #D4BD9B 100%);
		}
		
		.combo-package__right-part {
			background: linear-gradient(180deg, #D3BC9A 0%, #EDCFA4 100%);
			
			@include mobile {
				z-index: 4;
			}
		}
		
		.mobile-block {
			@include mobile {
				background: #3C3F4B;
			text-align: center;
			z-index: 4;
    		box-shadow: 0px 4px 150px rgba(30, 31, 36, 0.5);
			display: block;
			
			.closest-date1,
			.closest-date2 {
				font-family: Anglecia Pro Display;
				line-height: normal;
				text-align: center;
				font-style: italic;
				color: #FFFFFF;
				padding: 10px;
				
				.txt {
					font-weight: 300;
					font-size: 14px;
					margin-bottom: 10px;
				}
				
				.date {
					font-size: 16px;
					font-weight: 600;
					margin-bottom: 10px;
				}
				
				.mid-part2 {
					font-style: normal;
					line-height: normal;
					font-size: 12px;
					font-family: Proxima Nova;
				}
			}
			}
		}
		
		.price-wrap {
			display: none;
		}
		
		.price-title2 {
			font-family: Proxima Nova;
			line-height: normal;
			font-size: 18px;
			text-align: center;
			margin-bottom: 6px;
			position: relative;
			z-index: 2;
			margin-top: 18px;
			font-weight: bold;
		}
		
		.price-wrap2 {
			margin-top: 11px;
			position: relative;
			margin-bottom: 16px;
			@include ease(.5s);
			display: block;
			z-index: 2;
		}
		
		.new-price {
			font-size: 34px;
			font-family: Proxima Nova;
			line-height: normal;
			color: #E85581;
			font-weight: 700;
			text-align: center;
			@include ease(.5s);
		}
		
		.old-price {
			font-family: Proxima Nova;
			line-height: normal;
			font-size: 18px;
			text-align: right;
			color: rgba(255, 255, 255, 0.5);
			position: absolute;
			left: 130px;
			bottom: 4px;
			@include ease(.5s);
			left: 282px;
			bottom: 88px;
			
			@include tablet {
				    left: 240px;
			}
			
			span {
				text-decoration: line-through;
			}
			
			@include mobile {
				left: 38px;
				@include ease(.5s);
				font-size: 16px;
			}
		}
		
		.new-price {
			@include mobile {
				font-size: 30px;
			}
		}
		
		.special-price {
			font-family: Proxima Nova;
			line-height: normal;
			font-size: 14px;
			text-align: center;
			letter-spacing: 0.02em;
			color: #282B38;
			font-weight: bold;
			margin-top: 20px;
		}
		
		.btn_gray {
			display: none;
		}
		
		.center-block__wrap {
			width: 312.99px;
			height: 312.99px;
			left: calc(50% - 174px);
			top: -84px;
			box-shadow: 0px 4px 120px rgba(27, 36, 55, 0.6);
		}
		
		.mid-part__txt1,
		.mid-part__txt2 {
			display: none;
		}
		
		.mid-part2__wrapper {
			width: 600px;
			display: flex;
			
			.closest-date1 {
				margin-right: 25px;
			}
			
			.closest-date1,
			.closest-date2 {
				font-family: Anglecia Pro Display;
				line-height: normal;
				text-align: center;
				font-style: italic;
				color: #FFFFFF;
				min-width: 140px;
				padding-top: 26px;
				
				.txt {
					font-weight: 300;
					font-size: 16px;
				}
				
				.date {
					font-size: 18px;
					font-weight: 600;
				}
			}
			
			.mid-part2 {
				margin-right: 25px;
				font-family: Proxima Nova;
				line-height: normal;
				font-size: 16px;
				text-align: center;
				color: #FFFFFF;
				padding-top: 60px;
			}
		}
		
		.combo-package__mid-part {
			justify-content: flex-start;
			
			@include mobile {
				display: none;
			}
		}
		
		.price-title2 {
			display: block;
		}
		
		.btn_pink {
			display: flex;
		}
		
		.decor {
		background: #DC4271;
		border-radius: 100px;
		position: absolute;
			@include ease(.5s);
	}
		.decor-plus {
			@include mobile {
				z-index: 6;
				left: -12.7%;
				top: 547px;
			}
		}
		
		.decor1 {
			@include flex-center;
			height: 133px;
			width: 133px;
			color: #fff;
			flex-direction: column;
			font-family: Proxima Nova;
			line-height: normal;
			right: -67px;
			bottom: 307px;
			z-index: 2;
			box-shadow: 0px 4.97069px 100px rgba(58, 61, 73, 0.5);
			@include ease(.5s);
			
			@include tablet {
				height: 103px;
				width: 103px;
				right: -43px
			}
			
			@include mobile {
				z-index: 7;
				right: -43px;
				top: -33px;
			}
			
		.decor-txt1 {
			font-size: 24px;
			@include ease(.5s);
			
			@include tablet {
				font-size: 19px;
			}
		}
		.decor-txt2 {
			font-size: 35px;
			font-weight: 600;
			@include ease(.5s);
		}
		}
		
		.decor2 {
				width: 71.54px;
				height: 71.62px;
				box-shadow: 0px 4.97069px 100px rgba(58, 61, 73, 0.5);
				right: -83px;
				bottom: 313px;
				@include ease(.5s);
			display: block;
			
			@include tablet {
				right: -61px;
			}
			
			@include mobile {
				right: -51px;
				top: 0px;
			}
			}
	}
}

.combo-package__left-part,
.combo-package__right-part {
	width: 50%;
	padding-top: 56px;
	padding-left: 56px;
	padding-bottom: 50px;
	
	@include tablet {
		padding-left: 39px;
	}
	
	@include mobile {
		width: 100%;
		padding-left: 28px;
		padding-right: 28px;
	}
	
	.package__title {
		font-family: Anglecia Pro Display;
		line-height: normal;
		font-size: 22px;
		letter-spacing: 0.02em;
		color: #FFFFFF;
		opacity: 0.2;
		
		@include mobile {
			font-size: 20px;
		}
	}
	
	ul {
		max-width: 264px;
		li {
			font-family: Proxima Nova;
			line-height: 21px;
			font-size: 14px;
			color: #FFFFFF;
			opacity: 0.2;
			margin-bottom: 20px;
			
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	
	
	
	
}

.combo-package__left-part {
	background: #282B38;
	box-shadow: 0px 4px 150px rgba(30, 31, 36, 0.5);
	border-radius: 3px;
	
	ul {
		margin-top: 45px;
	}
}

.combo-package__right-part {
	background: #3B3E4D;
	box-shadow: 0px 4px 150px rgba(30, 31, 36, 0.5);
	border-radius: 3px;
	position: relative;
	
	ul {
		margin-top: 73px;
	}
}

.combo-package__mid-part {
	@include flex-center;
	background: #3C3F4B;
	height: 125px;
	flex-direction: column;
	width: 100%;
	position: relative;
	z-index: 3;
	
	.mid-part__txt1 {
		font-family: Anglecia Pro Display;
		line-height: normal;
		font-size: 16px;
		text-align: center;
		font-weight: 300;
		font-style: italic;
		margin-bottom: 7px;
		color: #FFFFFF;
	}
	
	.mid-part__txt2 {
		font-family: Anglecia Pro Display;
		line-height: normal;
		font-size: 18px;
		text-align: center;
		color: $pink;
		font-style: italic;
	}
}

.combo-package__bot-part {
	position: relative;
	width: 100%;
	
	.btn {
		position: relative;
		z-index: 2;
		box-shadow: 0px 4px 70px rgba(40, 43, 56, 0.6);
	}
	
	.price-wrap {
		height: 30px;
		margin: 33px auto 24px;
		@include flex-center;
		position: relative;
		z-index: 3;
		
		.price-title {
			font-family: Proxima Nova;
			line-height: normal;
			font-size: 18px;
			text-align: right;
			color: #272A35;
			opacity: .4;
			margin-right: 27px;
		}
		
		.new-price {
			font-family: Proxima Nova;
			line-height: normal;
			font-size: 24px;
			font-weight: bold;
			opacity: .4;
			color: #272A35
		}
	}
}

.center-block__wrap {
	width: 187.45px;
	height: 187.45px;
	background: #CEB696;
	transform: rotate(-17.51deg);
	position: absolute;
	z-index: 1;
	left: calc(50% - 99px);
	top: -68px;
}