.sec3{
	background-image: url(../../img/BG-3.2.png);
	@include bg-defaults(1920px);
	position: relative;
	z-index: 0;
	padding-top: 302px;
	margin-top: -425px;
	background-position-y: -857px;
	padding-bottom: 324px;
	
	@include tablet {
		background-image: url(../../img/tablet/BG-3.2.png);
		background-size: 1280px;
		padding-bottom: 146px;
		margin-top: -456px;
		background-position-y: -328px;
	}
	
	@include mobile {
		background-image: url(../../img/mobile/BG-3.2.png);
		background-size: 720px;
		padding-top: 315px;
		background-position-y: 29px;
		margin-top: -571px;
	}
	
	h3 {
		font-family: Anglecia Pro Display;
		line-height: normal;
		font-size: 25px;
		text-align: center;
		letter-spacing: 0.05em;
		font-weight: 500;
		color: #000000;
		margin-bottom: 13px;
		
		@include tablet {
			font-size: 22px;
			margin-bottom: 12px;
		}
		
		@include mobile {
			font-size: 18px;
			margin-bottom: 26px;
		}
		
		span {
			color: #E2CEAD;
		}
	}
	
	
}

.sec3__top-txt {
	font-family: Proxima Nova;
	line-height: normal;
	font-size: 16px;
	text-align: center;
	letter-spacing: 0.05em;
	font-weight: 100;
	font-style: italic;
	color: #000000;
	margin-bottom: 65px;
	
	@include tablet {
		margin-bottom: 58px;
	}
	
	@include mobile {
		font-size: 16px;
		margin-bottom: 36px;
	}
	
	span {
		font-weight: 600;
	}
}

.sec3__video {
	width: 690px;
	height: 461px;
	box-shadow: 0px 4px 150px rgba(27, 31, 46, 0.5);
	margin: 0 auto 296px;
	background-image: url(../../img/video.png);
	background-size: 100%;
	
	@include tablet {
		width: 660px;
		height: 433px;
		margin-bottom: 205px;
	}
	
	@include mobile {
		width: 288px;
		height: 205px;
		margin-bottom: 123px;
	}
}

.sec3__mid-txt {
	font-family: Anglecia Pro Display;
	line-height: normal;
	font-size: 18px;
	text-align: center;
	font-style: italic;
	font-weight: 300;
	color: #000000;
	margin-bottom: 30px;
	
	@include tablet {
		
	}
	
	span {
		font-weight: 600;
	}
}

.sec3__bot-txt {
	font-family: Proxima Nova;
	line-height: 24px;
	font-size: 16px;
	text-align: center;
	font-weight: 100;
	font-style: italic;
	color: #252B3A;
	width: 349px;
	margin: 0 auto 36px;
	
	
	@include mobile {
		font-size: 16px;
		width: 100%;
	}
	
	span {
		font-weight: 400;
	}
}

.sec-scroll {
	position: fixed;
	width: 10%;
	bottom: 80px;
	z-index: 1;
	right: 10%;
	
	@include mobile {
		display: none;
	}
	
	.scroll-center {
		align-items: flex-end;
		width: 80%;
		margin: 0 auto;
		@include ease(.5s);
		opacity: 0;
	}
	
	.decor-block {
		background-color: $pink;
		left: initial;
		right: -32px;
		top: 17px;
	}
	
	.scroll-btn {
		transform: rotate(180deg);
	}
}

