.form-block{
	background: linear-gradient(172.43deg, #EDDEC3 -2.94%, rgba(237, 222, 195, 0) 138.23%);
	box-shadow: 0px 4px 150px rgba(30, 31, 36, 0.5);
	border-radius: 3px;
	padding-bottom: 50px;
	form.standart-form {
		max-width: 600px;
		text-align: center;
		z-index: 5;
		.form-header {
			padding-top: 44px;
			padding-bottom: 25px;
		}
		.form-title {
			font-family: 'Anglecia Pro Display Italic';
			font-size: 16px;
			line-height: 23px;
			text-align: center;
			color: #1B2437;
			font-weight: 600;
			margin-bottom: 10px;
			span{
				font-weight: 500;
			}
		}
		.step2{
			.descript_st2{
				position: absolute;
				bottom: -45px;
				z-index: 9999;
				color: #fff;
				left: 0;
				right: 0;
			}
		}
		.form-desc {
			line-height: 23px;
			font-size: 16px;
			text-align: center;
			font-family: 'Anglecia Pro Display Italic';
			font-weight: 500;
			margin-bottom: 25px;
		}
		label {
			display: block;
			line-height: 20px;
			font-size: 16px;
			color: #42485A;
			opacity: 0.9;
			margin-bottom: 10px;
			max-width: 370px;
		}
		textarea {
			width: 370px;
			background: #FFFFFF;
			box-shadow: 0px 4px 90px rgba(44, 57, 74, 0.2);
			margin-bottom: 12px;
			resize: none;
			display: block;
		}
		.question1,
		.question2 {
			height: 100px;
		}
		.question3 {
			height: 60px;
		}
		.question4 {
			height: 135px;
		}
		.question5 {
			height: 115px;
		}
		.question6 {
			height: 60px;
		}
		input.name,
		input.name2,
		input.email,
		input.phone,
		input.phone2 {
			width: 256px;
			height: 50px;
			background: #FFFFFF;
			box-shadow: 0px 4px 90px rgba(44, 57, 74, 0.2);
			// border: 1px solid #dcdcdc;
			border: none;
			border-radius: 3px;
			padding-left: 15px;
			font-weight: 400;
			font-size: 16px;
			line-height: 60px;
			display: block;
			margin: 0 auto;
			margin-bottom: 22px;
			font-size: 16px;
			color: #42485A;
			opacity: 0.9;
		}
		input.phone,
		input.phone2{
			padding-left: 50px;
		}
		input.email {
			margin-top: 22px;
			margin-bottom: 30px;
		}
		&:after {
			content: "";
			display: none;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background: rgba(255,255,255, .7) url(../img/loading.svg) 50% no-repeat;
			z-index: 10;
		}
		&.loading {
			&:after {
				display: block;
			}
		}
	}
}
// .step {
// 			display: none;
// 			&.active {
// 				display: block;
// 			}
// 		}
		.next-step{
			display: block;
			background: #EE5784 url(../img/arr_right.svg)70% 50% no-repeat;
			color: #F2F2F2;
			box-shadow: 0px 4px 70px rgba(127, 113, 89, 0.8);
			border-radius: 3px;
			max-width: 256px;
			width: 100%;
			line-height: 56px;
			font-family: Proxima Nova;
			font-size: 14px;
			font-weight: 600;
			text-align: center;
			letter-spacing: 0.25em;
			text-transform: uppercase;
			margin: 0 auto;
			margin-top: 39px;
			cursor: pointer;
		}
	.form-steps {
		padding-top: 165px;
		padding-bottom: 80px;
		display: flex;
		margin: 0 auto;
		text-align: center;
		flex-flow: row wrap;
		justify-content: center;
		align-items:center;
		.step-number {
			font-weight: 600;
			text-align: center;
			width: 48px;
			line-height: 48px;
			border-radius: 50%;
			background:#1B2437;
			display: inline-block;
			margin: 0;
			box-shadow: -10px 10px 80px #2C3849;
			position: relative;
			font-family: Proxima Nova;
			font-size: 18px;
			color:#909197;
			.your_info{
				content: '';
				position:absolute;
				font-family: 'Anglecia Pro Display Italic';
				font-size: 16px;
				letter-spacing: 0.03em;
				color: #909197;
				line-height: 16px;
				font-weight: 600;
				transform: translateX(-50%);
				left: 25px;
				bottom: -35px;
			}
		}
		.step-number.active {
			color: #1B2437;
			background: #D9B78F;
			z-index:999;
			.your_info{
				color: #EADBC0;
			}
		}
		.line{
			display: inline-block;
			width: 100%;
			max-width: 372px;
			height: 4px;
			background: #1B2437;
			&.active{
				background: linear-gradient(90deg, #EADBC0 -44.89%, #1B2437 100%);
			}
			&.done{
				background: linear-gradient(90deg, #EADBC0 -44.89%, #E7D8BE 100%);
			}
		}
		.step-number.active.done {
			color: transparent;
			background: #D9B78F url(../img/done.svg) 50% no-repeat;
		}
	}
	.back {
			display: inline-block;
			position: relative;
			font-weight: 500;
			line-height: 48px;
			height: 48px;
			font-size: 20.52px;
			color:#F2F2F2;
			text-align: center;
			background:#5E6273 url(../img/arr.svg) 10% 50% no-repeat;
			cursor: pointer;
			z-index: 10;
			max-width:149px;
			width: 100%;
			&::before {
				content:'Назад';
				position:absolute;
				color:#F2F2F2;
				left: 0;
				right: 0;
				cursor: pointer;
			}
		}
