.header{
	.xs{
		display: none;
	}
	min-height:100vh;
	padding-top: 47px;
	background:url(../img/bg3.png)100% 50% no-repeat;
	position: relative;
	background-size: cover;
	.logo{
		position: relative;
		display: block;
		z-index:99;
		margin: 0 auto;
		.logo_name{
			background:url(../img/logo_header.svg) 50% no-repeat;
			width: 135px;
			height: 41px;
			display: block;
			position: absolute;
			left: 75px;
			right: 0;
			top: 20px;
			margin: 0 auto;
			z-index: 2;
		}
		.cube{
			background: #1B2437;
			box-shadow: 0px 2.51042px 75.3126px #1B2437;
			transform: rotate(25.9deg);
			width: 98px;
			height: 98px;
			position: absolute;
			margin: 0 auto;
			left: 0;
			right: 0;
			z-index: 1;
		}
	}
	.content-wrapper{
		position: relative;
		align-items:center;
	}
	.chose_pack{
		padding-top: 0px;
		font-family: 'Proxima Nova';
		line-height: 19px;
		font-size: 16px;
		color: #999BA0;
		font-weight: 600;
		margin-bottom: 30px;
		span{
			line-height: 40px;
		}
	}
	.format{
		font-family: 'Proxima Nova';
		line-height: 19px;
		font-size: 16px;
		color: #999BA0;
		font-weight: 600;
		margin-bottom: 30px;
		span{
		line-height: 40px;
		}
	}
	.price{
		display: inline-block;
		vertical-align:initial;
		font-family: 'Proxima Nova';
		line-height: 19px;
		font-size: 16px;
		color: #999BA0;
		font-weight: 600;
		margin-right: 10px;
		span{
			line-height: 40px;
		}
		b{
			text-decoration: line-through;
		}
	}
	.now_price{
			display: inline-block;
			vertical-align:sub;
			font-family:' Proxima Nova';
			line-height: 40px;
			font-size: 34px;
			text-align: center;
			color: #E85581;
			font-weight: 700;
		}
	.sale{
		display: inline-block;
		vertical-align:text-bottom;
		background:url(../img/sale.svg) 47% 50% no-repeat;
		width: 85px;
		height: 75px;
		font-family: 'Proxima Nova';
		font-weight: 400;
		font-size: 11.5128px;
		line-height: 13px;
		text-align: center;
		padding-top:23px;
		color: #FFFFFF;
		span{
		font-weight: 600;
		}
	}
	.special_offer_wrapp{
		display: flex;
		flex-flow:row wrap;
		justify-content: space-between;
		align-items: center;
		.special_offer{
		display: inline-block;
		vertical-align:top;
		font-family: 'Proxima Nova';
		line-height: 16px;
		font-size: 14px;
		letter-spacing: 0.02em;
		color: #999BA0;
		}
	}
	.text-wrap{
		display: flex;
		flex-flow:row wrap;
		align-items: center;
		justify-content: center;
		.text_block{
			.title,
			.descript{
				font-family: 'Proxima Nova';
				line-height: 20px;
				font-size: 14px;
				color: #FFFFFF;
			}
			.title{
				margin-bottom: 23px;
			}
		}
		.descript_st2{
			position: absolute;
			bottom: 0;
		}
	}
}

