form.standart-form#form1(accept-charset="utf-8" onsubmit="return validate(form1);" action="/bundle" method="post")
	input.name(name="name", type="text", placeholder="Введите Ваши имя и фамилию", required="")
	input.phone#phone(name="phone", type="text", required="")
	input.email(name="email", type="email", placeholder="Введите Ваш e-mail", required="")
	.hidden-inputs.
		<input class="type" type="hidden" name="type" value="">
		<input class="sum" type="hidden" name="sum" value="">
		<input class="city" type="hidden" name="city" value="">
		<input class="tags" type="hidden" name="tags" value="">
		<input type="hidden" name="utm_source" value="">
		<input type="hidden" name="utm_medium" value="">
		<input type="hidden" name="utm_term" value="">
		<input type="hidden" name="utm_campaign" value="">
		<input type="hidden" name="country" value="">
	button.btn.subm.hvr-grow-shadow(type="submit") Принять участие