header.header
	.container
		a(href="/").logo
			.cube.hvr-grow
			.logo_name
		.form-steps
				a.step-number.step1.active 1
					pre.your_info Ваши данные
				.line.step.step1.active
				a.step-number.step2 2
					pre.your_info Регистрация <br class=xs>участницы
				.line.step.step2
				a.step-number.step3 3
					pre.your_info Оплата
			.row.justify-content-between.content-wrapper
				.col-lg-4.col-md-6
					p.chose_pack 
						<span>Выбранный пакет:</span>
						br
						| «Высший пилотаж в отношениях»
						br
						+ «Курс секс искусства»
					p.format <span>Формат участия:</span>
						br
						| Онлайн
					p.price <span>Цена:</span>
						br
						b $ 750
					p.now_price $ 290
					p.sale экономия <br><span>20%</span>
					.special_offer_wrapp
						p.special_offer Специальная цена действует 
						.simpleCountdown#countdown1(data-cookies='yep' data-extra='1,0,0')
						p.special_offer и только для посетителей этой страницы
				.col-lg-4.col-md-6
					.form-block
						form#form2.standart-form(accept-charset='utf-8', onsubmit='return validate(form2);', action='/bundle', method='post')
							.form-header
							.step.step1.active(data-done='step1')
								p.form-title
									|Введите свои данные,
									br
								p.form-desc
									| чтобы занять своей женщине
									br
									|  место на обучении
								input.name(name='name', type='text', placeholder='Ваше имя ', required='')
								input#phone.phone(name='phone',placeholder='Ваш телефон*' type='text', required='', autocomplete='off')
								input.email(name='email', type='email', placeholder='Ваш e-mail', required='')
								button.btn.next-step.hvr-grow-shadow(type="submit" data-target='step2')
									span далее
							.hidden-inputs.
								<input class="type" type="hidden" name="type" value="">
								<input class="sum" type="hidden" name="sum" value="">
								<input class="city" type="hidden" name="city" value="">
								<input type="hidden" name="product" value="bundle">
								<input class="tags" type="hidden" name="tags" value="">
								<input type="hidden" name="utm_source" value="">
								<input type="hidden" name="utm_medium" value="">
								<input type="hidden" name="utm_term" value="">
								<input type="hidden" name="utm_campaign" value
			.col-lg-4.text-wrap
				.step.step1.active(data-done='step1')
					.text_block
						p.title
							| * мы проконсультируем, как преподнести
							br
							| ей подарок конкретно в вашем случае
						p.descript
							|** отправим вам на почту видео о том,
							br
							| как лучше подарить курсы своей женщине





