.footer{
	padding-top: 50px;
	padding-bottom: 50px;
	background: #282B38;
	.wrap_items{
		display: flex;
		flex-flow:row wrap;
		align-items:center;
		justify-content: space-between;
		.logo{
			background:url(../img/logo_footer.svg)50% no-repeat;
			width: 164px;
			height: 50px;
			display: block;
		}
		.polit_block{
			a{
				display: block;
				font-family: 'Proxima Nova';
				line-height: 21px;
				font-size: 14px;
				letter-spacing: 0.05em;
				text-decoration-line: underline;
				color: #93959B;
			}
		}
		.email_block{
			display: block;
			font-family: 'Proxima Nova';
			line-height: 21px;
			font-size: 14px;
			letter-spacing: 0.05em;
			color: #93959B;
			a{
				color: #93959B;
			}
		}
		.phone_block{
			display: block;
			font-family: 'Proxima Nova';
			line-height: 21px;
			font-size: 14px;
			letter-spacing: 0.05em;
			color: #93959B;
			a{
				color: #93959B;
			}
		}
	}
}
@media only screen and (max-width : 750px) {
	.footer{
		padding: 40px 0;
		.wrap_items{
			justify-content: center;
			align-items:center;
			text-align: center;
			.logo{
				width: 131px;
				height: 40px;
				background-size: 100% 100%;
				margin-bottom: 60px;
			}
			.polit_block{
				margin-bottom: 35px;
			}
			.email_block{
				width: 100%;
				margin-bottom: 35px;
			}
		}
	}
}