footer.main-footer
	//.container
		//.scroll-wrap
					.scroll-center
						a.scroll-btn(href="")
						.decor-block
		.row
			.col-lg-4.col-md-12.col-sm-12
				.logo
			.col-lg-4.txt-col.col-md-5.col-sm-12
				a.link.link__underline(href="#") Политика Конфиденциальности
				a.link.link__underline(href="#") Согласие с рассылкой
				a.link.link__underline(href="#") Договор оферты
			.col-lg-2.txt-col.col-md-3.col-sm-12
				p.txt E-mail
				a.link(href="#") box@mail.com
			.col-lg-2.txt-col.col-md-4.col-sm-12
				p.txt Телефоны:
				a.link(href="#") +7 495 215-04-33
	.footer-top-block
		.logo
		.email
			p E-mail:
			a(href="mailto:info@womaninsight.club") info@womaninsight.club
		.phone
			p Телефоны:
			.phone-columns
				.col1.foo-col
					a(href="tel:+380674853311") +38 (067) 485-33-11
					a(href="tel:+380679690548") +38 (067) 969-05-48
					a(href="tel:+74996088824") +7 (499) 608-88-24
				.col2.foo-col
					a(href="tel:+380981817742") +38 (098) 181-77-42
					a(href="tel:+380670090300") +38 (067) 009-03-00 
					a(href="tel:+74993400185") + 7 (499) 340-01-85
	.footer-bot-block
		.link-wrap
			a(href="https://docs.google.com/document/d/1Dox49PwleC70cEFWtFVUEi5mQ2VPjdFYN4BTzziWdcY/edit") Политика Конфиденциальности 
			a(href="https://docs.google.com/document/d/14wMNmT-KcOvNnHP8_fAcOOQzfY1wDSiJTzXkkQMBtOY/edit") Согласие с рассылкой