a(name="scroll-top")
header.header-section
	.container
		.row
			.col-lg-8.col-md-4.col-sm-4.header-col1
				a.logo.header__logo(href="/")
				.decor-block
			.col-lg-4.col-md-8.col-sm-8
				.header__city-block
					p.city-txt1 Москва, Киев, Одесса, Алматы
					p.city-txt2 или онлайн-участие
			.col-lg-12.header__main-col
				.header__main-txt-block
					p.header__main-txt <span>Каждый месяц</span><br class="sm"> старт новой группы
					h1 <span class="part1">все про</span> <span class="part2">Отношения</span> <span class="part3">и</span><span class="part4"> секс</span>
					.decor-block
			.col-lg-12.header-col4
				.header__secondary-txt-block
					p.header__secondary-txt1 Образование, которое<br> выпускает <span>настоящих женщин</span>
					p.header__secondary-txt2 Если цветы не работают, подарите своей женщине участие в этих курсах. Она имела в виду именно это, когда просила «работать над отношениями»
					.decor-block
			.scroll-wrap
				.scroll-center
					p.header__scroll-txt Узнать подробнее 
					a.scroll-btn.btn-anchor(href="#scroll-down")
					.decor-block



