a(name="scroll-down")
section.sec1
	.container
		h2 Вы хотите<br class="sm"> взаимопонимания, <span>но</span>
		.row
			.col-lg-3.col-md-6.trigger.trigger1
				p.trigger__top-txt <span>Ссоритесь</span> <br>из-за работы 
				p.trigger__bot-txt На данном этапе жизни <span>вам важна карьера</span>. И вас демотивирует, что ваша женщина не всегда это понимает
				.decor-block
				.decor-circles
			.col-lg-3.col-md-6.trigger.trigger2
				p.trigger__top-txt Секс стал <br><span>однообразным </span>
				p.trigger__bot-txt Вы отлично помните, каким секс был раньше. И сами не заметили, как он <span>превратился в обязаловку</span>
				.decor-block
				.decor-circles
			.col-lg-3.col-md-6.trigger.trigger3
				p.trigger__top-txt <span>Выясняете отношения</span> <br>на пустом месте
				p.trigger__bot-txt У вашей женщины реально <span>много энергии</span>. Вы только хотите, чтобы она направила ее <span>в правильное</span> русло
				.decor-block
				.decor-circles
			.col-lg-3.col-md-6.trigger.trigger4
				p.trigger__top-txt <span>Нуждаетесь</span> <br>в поддержке
				p.trigger__bot-txt Вы хотите, чтобы ваша женщина была <span>счастлива в отношениях</span>, и передавала эту особую энергию вам
				.decor-block
				.decor-circles
		p.sec1__mid-txt1 Ваша женщина <span>наверняка</span> это понимает
		p.sec1__mid-txt2 ... и хочет это <span>изменить</span>
		p.sec1__mid-txt3 Светлана Керимова рассказывает, с какими целями <span>приходят участницы курсов</span>
		.video-wrap
			.video-block
				iframe.video(width="100%" height="100%" src="https://www.youtube.com/embed/fzpLHmdcEsI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen) 
			.video-decor
		p.sec1__mid-txt4 Почему <span>именно эти курсы</span> <br class>уберут недопонимание между вами?
		p.sec1__mid-txt5 Давайте разберемся
		p.sec1__mid-txt6 Взаимопонимание и секс
		p.sec1__mid-txt7 Это  —  две главнейшие сферы здоровых отношений.<br>И именно на них направлены курсы «Высший пилотаж в отношениях» и «Курс секс искусства».
			.row
				.col-lg-6.col-md-6.course.course1
					p.course-txt1 «Высший пилотаж в отношениях»
					p.course-txt2 2 месяца, 16 занятий, 2 раза в неделю <br><br> - разбирается с ее переживаниями <br> - объясняет, как принимать и радовать партнера <br> - учит быть той, с кем мужчине хочется быть
					.decor-block
				.col-lg-6.col-md-6.course.course2
					p.course-txt1 «Курс секс искусства»
					p.course-txt2 1 месяц, 8 занятий, 2 раза в неделю <br><br> - показывает глубину сексуальных отношений <br> - учит десяткам сексуальных практик <br> <span>(угадайте, с кем она будет отрабатывать домашние задания) </span> <br> - раскрепощает и делает более женственной 
					.decor-block
		p.sec1__btm-txt1 Она учится, а <br class="sm"> <span>вы наслаждаетесь</span> <br>результатами
			.row
				.col-lg-4.result.col-md-6
					.result__txt1 Она <span>кайфует от секса</span>
					.result__txt2 Она <span>знает, как вас возбудить</span> и доставить наслаждение. И она делает это не потому, что так надо. Она делает это, потому что ей самой это нравится.
					.decor.decor1
					.decor.decor2
				.col-lg-4.result.col-md-6
					.result__txt1 Она уделяет <span>себе время</span>
					.result__txt2 Она вкладывает время <span>в свое развитие и внешность</span>. Она понимает, что ответственность за свое состояние лежит на ней.
					.decor.decor1
					.decor.decor2
					.decor.decor3
				.col-lg-4.result.col-md-12
					.result__txt1 Она <span>не пытается</span> вас переделать
					.result__txt2 Она понимает, что идеальных отношений не бывает. И вместо того, чтобы выносить мозг мужчине, <span>она относится к жизни проще</span>.
					.decor.decor1
					.decor.decor2
		.sec1__btm-txt2 Чтобы женщина такой стала, ей нужно <span>пересмотреть свой взгляд</span> на отношения и секс.
section.sec2
	.container
		h2 Каким из трех способов вы <br class="md lg">побалуете себя и свою женщину
		a(name="scroll")
		.package__pick-wrap
			.left-side
				p.pick-wrap-txt Выберите формат:
				.format.button--aylen(data-full="563" data-now="284" data-discount="49" data-bundle-full="1126" data-bundle-new="452" data-bundle-discount="59" data-ksi="" data-vpo="" data-type="online"  data-tags-vpo="cource_men_vpo_online_lead " data-tags-ksi="cource_men_ksi_online_lead" data-tags-bundle="cource_men_online_bundle_lead" ) Онлайн
			.right-side
				p.pick-wrap-txt или живое участие в
				.format.city.city1.button--aylen(data-full="350" data-now="199" data-discount="43" data-bundle-full="700" data-bundle-new="358,8" data-bundle-discount="49" data-ksi="10 июля" data-vpo="26 июля" data-type="offline" data-tags-vpo="cource_men_vpo_lead " data-tags-ksi="cource_men_ksi_lead" data-tags-bundle="cource_men_bundle_lead" data-city="kiev") Киеве
				.format.city.city2.button--aylen(data-full="350" data-now="199" data-discount="43" data-bundle-full="700" data-bundle-new="358,8" data-bundle-discount="49" data-ksi="9 июля" data-vpo="5 июля" data-type="offline"  data-tags-vpo="cource_men_vpo_lead " data-tags-ksi="cource_men_ksi_lead" data-tags-bundle="cource_men_bundle_lead" data-city="odessa") Одессе
				.format.city.button--aylen(data-full="552" data-now="386" data-discount="29" data-bundle-full="1036" data-bundle-new="695" data-bundle-discount="32" data-ksi="9 июля" data-vpo="9 июля" data-type="offline"  data-tags-vpo="cource_men_vpo_lead " data-tags-ksi="cource_men_ksi_lead" data-tags-bundle="cource_men_bundle_lead" data-city="moscow") Москве
				.format.city.button--aylen(data-full="363" data-now="254" data-discount="32" data-bundle-full="682" data-bundle-new="458" data-bundle-discount="32" data-ksi="26 июля" data-vpo="26 июля" data-type="offline"  data-tags-vpo="cource_men_vpo_lead " data-tags-ksi="cource_men_ksi_lead" data-tags-bundle="cource_men_bundle_lead" data-city="almaty") Алматы
		.package__wrap
			.left-package.package.inactive
				p.package__title1 Полное взаимопонимание
				p.package__title2 «Высший пилотаж в отношениях»
				ul.package__list
					li - 2 месяца, 16 занятий, 2 раза в неделю
					li - 40 человек в группе
					li - 80% теории, 20% практики
					li - Методичка с детальными инструкциями новых жизненных правил
					li - Домашние задания:<br> как понять себя, как улучшить себя
					li - Самодостаточные в своих областях женщины-тренеры
				.package__closest-date
					.date-txt1 Ближайшая дата
					.date-txt2 16 июня
					.date-txt3 Если вы не можете подобрать дату, мы согласуем ее с вашей женщиной
					.decor.decor1
						.decor-txt1 экономия
						.decor-txt2 <span>ХХ</span>%
					.decor.decor2
				.package__closest-date2
					.date-txt1 Ближайшая дата 
					.date-txt1 не определена
					.date-txt4 выберите формат
				p.price-title Цена:
				.price-wrap
					p.old-price $  <span>750</span>
					p.new-price $ <span>290</span>
				.price-wrap2
					p.price-title Цена
					p.new-price <span>0</span> $ 
				a.btn.btn_pink.btn_vpo(href="http://edu.womaninsight.club/bundle/step1" data-type="" data-tags="" data-city="" data-sum="") Забронировать
				a.btn.btn_gray.btn-anchor(href="#scroll") Выберите формат
				p.special-price Специальная цена действует <span class='simpleCountdown' data-cookies='yep' data-extra='2,0,0' id="countdown1"></span><br> и только для посетителей этой страницы
			.right-package.package.inactive
				p.package__title1 Безумный секс
				p.package__title2 «Курс секс искусства»
				ul.package__list
					li - 1 месяц, 8 занятий, 2 раза в неделю
					li - 25 человек в группе
					li - 20% теории, 80% практики
					li - Методичка с детальными инструкциями новых сексуальных практик
					li - Домашние задания:<br> отработка практик с партнером
					li - Самодостаточные в своих областях женщины-тренеры
				.package__closest-date
					.date-txt1 Ближайшая дата
					.date-txt2 <span>16 июня</span>
					.date-txt3 Если вы не можете подобрать дату, мы согласуем ее с вашей женщиной
					.decor.decor1
						.decor-txt1 экономия
						.decor-txt2 <span>ХХ</span>%
					.decor.decor2
				.package__closest-date2
					.date-txt1 Ближайшая дата 
					.date-txt1 не определена
					.date-txt4 выберите формат
				p.price-title Цена:
				.price-wrap
					p.old-price $  <span>750</span>
					p.new-price $ <span>290</span>
				.price-wrap2
					p.price-title2 Цена
					p.new-price 0 $ 
				a.btn.btn_pink.btn_ksi(href="http://edu.womaninsight.club/bundle/step1" data-type="" data-tags="" data-city="" data-sum="") Забронировать
				a.btn.btn_gray.btn-anchor(href="#scroll") Выберите формат
				p.special-price Специальная цена действует <span class='simpleCountdown' data-cookies='yep' data-extra='2,0,0' id="countdown3"></span><br> и только для посетителей этой страницы
		p.sec2__mid-txt А лучше выберите полноценные отношения, <br> в которых есть  взаимопонимание и секс
		.combo-package
			.combo-package__left-part
				p.package__title «Высший пилотаж в отношениях»
				ul.package__list
					li - 2 месяца, 16 занятий, 2 раза в неделю
					li - 40 человек в группе
					li - 80% теории, 20% практики
					li - Методичка с детальными инструкциями новых жизненных правил
					li - Домашние задания:<br> как понять себя, как улучшить себя
					li - Самодостаточные в своих областях женщины-тренеры
			.mobile-block
				.closest-date1
					p.txt Ближайшая дата
					p.date.date-vpo <span>16 июня</span>
					p.mid-part2 Если вы не можете подобрать дату, мы согласуем ее с вашей женщиной
			.combo-package__right-part
				p.package__title «Курс секс искусства»
				ul.package__list
					li - 1 месяц, 8 занятий, 2 раза в неделю
					li - 25 человек в группе
					li - 20% теории, 80% практики
					li - Методичка с детальными инструкциями новых сексуальных практик
					li - Домашние задания:<br> отработка практик с партнером
					li - Самодостаточные в своих областях женщины-тренеры
				.decor.decor1
					.decor-txt1 экономия
					.decor-txt2 <span>ХХ</span>%
				.decor.decor2
			.mobile-block
				.closest-date2
					p.txt Ближайшая дата
					p.date.date-ksi <span>16 июня</span>
					p.mid-part2 Если вы не можете подобрать дату, мы согласуем ее с вашей женщиной
				
			.combo-package__mid-part
				
				p.mid-part__txt1 Ближайшая дата <br>не определена
				p.mid-part__txt2 выберите формат
				.mid-part2__wrapper
					.closest-date1
						p.txt Ближайшая дата
						p.date.date-vpo <span>16 июня</span>
					p.mid-part2 Если вы не можете подобрать дату, мы согласуем ее с вашей женщиной
					.closest-date2
						p.txt Ближайшая дата
						p.date.date-ksi <span>16 июня</span>
			.combo-package__bot-part
				.center-block__wrap
				.price-wrap
					p.price-title Цена
					p.new-price 0 $
				p.price-title2 Цена:
				.price-wrap2
					p.old-price $  <span>750</span>
					p.new-price $ <span>290</span>
					p.special-price Специальная цена действует <span class='simpleCountdown' data-cookies='yep' data-extra='2,0,0' id="countdown2"></span><br> и только для посетителей этой страницы
				a.btn.btn_gray.btn-anchor(href="#scroll") выберите формат
				a.btn.btn_pink.btn-anchor.btn_bundle(href="http://edu.womaninsight.club/bundle/step1" data-type="" data-tags="" data-city="" data-sum="") забронировать
			.decor-plus
section.sec3
	.container
		h3 Как <span>правильно преподнести</span> курсы свой женщине
		p.sec3__top-txt  Выберите <span>1 из 4 способов</span> от Светланы Керимовой
		.sec3__video
			iframe.video(width="100%" height="100%" src="https://www.youtube.com/embed/mkdUQ10bXAE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen) 
		p.sec3__mid-txt <span>Это нормально</span>  —  переживать сложности в отношениях. <br> Только одни скандалят, а другие  —  <span>работают над собой.</span>
		p.sec3__bot-txt Сейчас у вас есть шанс получить <span>максимальное</span> <br class="lg md"><span>взаимопонимание</span> со своей женщиной, <br class="lg md">поддержку с ее стороны и крепкую семью
		a.btn.btn-anchor(href="#scroll") забронировать
.scroll-wrap.sec-scroll
	.scroll-center
		a.scroll-btn.btn-anchor(href="#scroll-top")
		.decor-block